# schema: https://scanner.dev/schema/scanner-detection-rule.v1.json
name: 1Password SSO Configuration Changed
description: |-
  Detect when changes have been made to the SSO configuration in 1Password.
  This can indicate potential persistence or unauthorized changes to
  authentication controls.
enabled: true
severity: Medium
query_text: |-
  %ingest.source_type:"1password:audit"
  action:(enblsso disblsso chngpsso chngasso chngdsso addgsso delgsso)
  object_type:sso
  | groupbycount(actor_details.email)
  | where @q.count > 0
time_range_s: 300
run_frequency_s: 60
event_sink_keys:
- medium_severity_alerts
tags:
- tactics.ta0003.persistence
- techniques.t1556.modify_authentication_process
- source.1password
